<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <header class="page_header shows_page_header">
            <h1>All Shows</h1>
        </header>
        <main class="main_content">
            <div class="display_table">
                <table class="all_shows_table">
                    <tr class="table_headings">
                        <th class="id_heading headings">ID</th>
                        <th class="title_heading headings">Title</th>
                        <th class="network_heading headings">Network</th>
                        <th class="release_date_heading headings">Release Date</th>
                        <th class="actions_heading headings">Actions</th>
                    </tr>
                    {% for show in shows %}
                    <tr class="table_row">
                        <td class="show_id data_cells">{{show.id}}</td>
                        <td class="show_title data_cells">{{show.title}}</td>
                        <td class="show_network data_cells">
                            {% for network in show.networks.all %}
                            <div class="network_sections">
                                {{network.name}}
                                <form action="/shows/{{show.id}}/{{network.id}}/remove_network" class="remove_network">
                                    {% csrf_token %}
                                    <button type="submit">X</button>
                                </form>
                            </div>
                            {% endfor %}
                        </td>
                        <td class="show_release_date data_cells">{{show.release_date}}</td>
                        <td class="show_actions data_cells">
                            <a href="/shows/{{show.id}}">View</a> | 
                            <a href="/shows/{{show.id}}/edit">Edit</a> | 
                            <a href="/shows/{{show.id}}/delete">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="add_a_show_link_container">
                <a href="/shows/new">Add a New Show</a>
            </div>
        </main>
    </div>
</body>
</html>